

/*Cambio universal en todo el html en los box model*/
* {
    padding: 0;
    margin: 0;
}

body {
    background: #E5E5E5;
}

.encriptador{
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.encriptador__logo{
    padding: 40px 0px 0px 40px;
}

.encriptador__ingresar__texto{
    padding: 168px 70px 0px 0px;

}

textarea{
    height: 220px;
    width: 550px;
    resize: none;
    font-size: 1rem;
}

.section__encriptador__imagen{
    background: white;
    width: 400px;
    height: 580px;
    border-radius: 32px;
    text-align: center;
    margin: 2% 0%;
}

.section__texto__encriptado{
    background: white;
    width: 400px;
    height: 580px;
    border-radius: 32px;
    margin: 2% 0%;
}

.encriptador__texto__encriptado{
    margin: 5% 5%;
    text-align: justify;
}

.encriptador__imagen{
    width: 250px;
    height: 200px;
    padding: 100px 0px 0px 0px;
}

.encriptador__mensaje{

    font-family: 'Times New Roman', Times, serif;
    font-size: 1.563rem;
    font-weight: bold;
    text-align: center;
    margin: 2% 10%;

}

.encriptar__mensaje__informativo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.938rem;
    color: #495057;
    text-align: center;
    padding: 16px 32px 0px 32px;
}

.encriptador__texto__minusculas{
    display: flex;
    flex-direction: column;
}

.texto__informativo__minusculas{
    font-family:Arial, Helvetica, sans-serif;
    font-size: small;
    color: #495057;
    padding-top: 140px;
    display: flex;
    gap: 5px;
    
}
.encriptar__botones{
    display: flex;
    gap: 24px;
    text-align: center;
    padding-top: 16px;
}

.boton__encriptar{
    padding: 10px 20px;
    background-color: #0A3871;
    color: white;
    width: 200px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 24px;
    font-weight: bold;
}

.boton__encriptar:hover{
    background-color: #495057;
}

.boton__desencriptar{
    padding: 10px 20px;
    background-color: #80adcb;
    color: #0A3871;
    width: 200px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 24px;
    font-weight: bold;
}

.boton__desencriptar:hover{
    background-color: #cdd3da;
}

.encriptador__boton__copiar{
    display:flex;
    justify-content: center;
    padding-top: 370px;
}

.boton__copiar{
    padding: 10px 20px;
    background-color: #be7b72;
    color: #0A3871;
    width: 200px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 24px;
    font-weight: bold;
}

.boton__copiar:hover{
    background-color: wheat;
}